* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

body {
    font-family: Arial, sans-serif;
    background-color: #BB4D4D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


input{
    font-size: 20px;
    padding: 18px;
    border-radius: 20px;
    padding-left: 18px;
    background-color: #F5F5F5;
    border: none;
    margin-top: 22px;
    width: 35vw;

}

.palavraChave{
    font-size: 20px;
    padding: 18px;
    border-radius: 20px;
    padding-left: 18px;
    background-color: #F5F5F5;
    border: none;
    margin-top: 22px;
    width: 35vw;

} 

.Elements{
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start ;
    flex-direction: column;
    margin-top: 8%;
    font-weight: 400;
    font-style: normal;
    color: #F5F5F5;
  
}

button{
    width: 12vw;
    font-size: 26px;
    padding: 20px;
    background-color: #F5F5F5;
    color: #000000;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 30px;
    font-family: martel-light;
}

button:hover{
    background-color: #E0E0E0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.senha_card{
    display: flex;
    flex-direction: column;
}