* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

body {
    font-family: Arial, sans-serif;
    background-color: #BB4D4D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.senha_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F5F5F5;
    padding: 40px 50px 10px 50px; 
    width: 700px;
    height: 500px;
    text-align: center;
    border-radius: 60px;
}

